$colorList: #c6f0f8,
#dae1f0,
#f8ebb6,
#fadae6,
#cdfad0,
#e1e1e1;

$colorLength: length($colorList);

$iconColorList: #5d78ff,
#0abb87,
#ffb822,
#fd397a,
#00a7df,
#ff9b21,
#bc2b95,
#8c9091;

$iconColorLength: length($iconColorList);
