<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug">

  <variable name="ActionLogDirectory" value="../../../wwwroot/ActionLog/${shortdate}"/>
  <variable name="DetailsLogDirectory" value="../../../wwwroot/DetailLog/${shortdate}"/>
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="database" xsi:type="Database" >

      <connectionString>${gdc:item=connectionString}</connectionString>

      <commandText>
        insert into dbo.ApplicationLog (
        Application,MachineName, UserName,IP,Logged, Level, Message,
        Logger, CallSite, Exception,UserId
        ) values (
        @Application,@MachineName,@UserName,@IP, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception,@UserId
        );
      </commandText>

      <parameter name="@application" layout="App.Service.AspDotNetDistributor" />
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@userName" layout="${aspnet-item:variable=userName}" />
      <parameter name="@ip" layout="${aspnet-request-ip}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@userId" layout="${aspnet-item:variable=userId}" />
      
    </target>

    <target name="actionFileTarget"
            xsi:type="File"
            fileName="${ActionLogDirectory}/actionlog.log" layout="${message}">"</target>

    <target name="detailFileTarget"
              xsi:type="File"
              fileName="${DetailsLogDirectory}/detaillog.log" layout="${message}">
    </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="database" />
    <logger level="Debug" name="actionFileLogger" writeTo="actionFileTarget"/>
    <logger level="Debug" name="detailFileLogger" writeTo="detailFileTarget"/>
  </rules>
  
</nlog>