<section>
  <div class="p-col-12 d-flex justify-content-center">
    <div class="p-col-12 p-p-0">

      <div class="d-flex">

        <div class="p-xl-12 p-lg-12">
          <div class="card card-info card-info">
            <div class="header d-flex justify-content-between">
              <div class="d-flex flex-column">
                <h4 class="title"><i class="mdi mdi-download-box p-ml-1"></i>Create new serial number</h4>
              </div>
            
          </div>
          <!-- -->
            <div class="body">
              <div class="d-flex justify-content-end">
                
                
                <button (click)="back()"  label="Back to main menu" pButton  iconPos="left" class="p-button p-button-info p-component"></button>
                &nbsp;
                <button (click)="createSerialNumber()"  label="Create and download 10 new serial numbers" pButton  iconPos="left" class="p-button p-button-success p-component"></button>
            </div>

          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
